
<dialog id="course-dialog" class="rounded shadow-xl">
    <div class="course-dialog-header p-2 px-3 border-b bg-gray-600 rounded-t text-white font-semibold">
        Course Details
    </div>
    <div class="course-dialog-content p-4" />
    <div class="p-2">
        <button class="course-dialog-close transition-all border p-2 rounded px-5 hover:bg-gray-100">Close</button>
    </div>
</dialog>

<script>
    const dialog = document.getElementById('course-dialog') as HTMLDialogElement;
    const closeButton = dialog.querySelector('.course-dialog-close');

    closeButton?.addEventListener('click', () => {
        dialog.close();
    });
</script>