---
const {germanCourses} = Astro.props;
---

<div id="german-track-filter" class="flex gap-2 text-nowrap my-auto pr-2 pl-1">
    <label>German Track:</label>
    <label for="b1-filter" class="opacity-60">
        <input
                data-courses={JSON.stringify(germanCourses.filter(c => c.track === 'b2'))}
                type="radio"
                id="b1-filter"
                name="german-track"
                checked
        /> B1
    </label>
    <label for="b2-filter" class="opacity-60">
        <input
                data-courses={JSON.stringify(germanCourses.filter(c => c.track === 'b1'))}
                type="radio"
                id="b2-filter"
                name="german-track"
        /> B2
    </label>
</div>

<script>
    const germanTrackFilter = document.getElementById('german-track-filter');
    const b1Filter = document.getElementById('b1-filter');
    const b2Filter = document.getElementById('b2-filter');



</script>