<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>GJU Plans</title>
		<link
			rel="shortcut icon"
			href="https://www.gju.edu.jo/sites/all/themes/bootstrap/favicon.ico"
			type="image/vnd.microsoft.icon"
		>
	</head>
	<body>
		<slot />
	</body>
</html>